body {
  background-color: #9d8bc2;
  color: #faf8ff;
  text-align: center;
  font-family: 'Roboto', sans-serif;;
  
}


ul {
  border-radius: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #9d8bc2;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #e8c7e6;
}

.active {
  background-color: #e8c7e6 ;
}

li {
  border-right: 4px solid #d03791;
  float: left;
}

li:last-child {
  border-right: none;
}

a {
  color: #fe6c90;
}
